body {
    background: black;
    margin: 30px;
}

td {
    width: 40px;
    height: 40px;
}

button {
    margin: 10px;
    padding: 10px;
    background: #333;
    border: 2px solid white;
    color: white;
}
